/* *{
    margin:0;
    padding: 0;
} */
body { background-image: url(1.jpg) ; background-size: cover;
    /* backdrop-filter: blur(3px);
    backdrop-filter: brightness(30%); */

}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}
.calc{
    width: 40%;
    margin: auto;
    border: 2px solid rgb(120, 120, 120);
    border-radius: 5px;
    box-shadow: 2px 10px 10px 2px black;
    background-color: #eeeeee;
}
.textbox{
    width: 95%;
    height: 80px;
    margin: auto;
    border: 1px solid rgb(120, 120, 120);
    border-radius: 5px;
    box-shadow: 0px 4px 6px 0px rgb(128, 128, 128); 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content:right;
padding-right: 10px;
}
.btn{
    margin-top: 25px;
    height: 100%;

}
.tri{
    display: flex;
    /* flex-wrap: wrap; */
}
.b{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3333333333%;
    height: 110px; 
    border: 1px solid rgb(120,120,120,0.756);
    border-radius: 5px;
    box-shadow: 0px 4px 6px 0px rgba(128, 128, 128, 0.548); 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    /* -webkit-user-select: none;  */
      /* -webkit-touch-callout: none;  */
      /* -moz-user-select: none;  */
      /* -ms-user-select: none;  */
      user-select: none;
      box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.253);
      border: 1px rgb(163, 163, 163)  inset;

}
.t{
    background-color: rgba(4, 0, 255, 0.075);
    box-shadow: inset 0px 0px 40px rgba(158, 158, 158, 0.5);

}
.b:hover{
    /* color: var(--A276FF, #707070); */
    background-color: rgba(120, 178, 253, 0.356);

    transition: 0.3s;
}
.b:active{
    /* color: var(--FFF, gray);
    border: 3px solid gray; */
    transform: scale(0.97); 
    color: var(--A276FF, #a3a3a3);
background-color: rgba(172, 172, 172, 0.281);
    /* box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); */
    transition: 0.1s;
}
